<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
<h3>URL SHORTEN SERVICE</h3>
<div class="form">
    <form action="urlshorten" method="post" >	<!-- onsubmit="return validate()" -->
      <table>
        <tr>
          <td>Enter the URL</td>
          <td><input id="url" name="url"></td>
          <td><input type="submit" value="Submit"></td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>